$global-font-family: 'Lato', sans-serif;
$base-body-font-weight: 300;
$base-heading-font-weight: 300;

@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../../node_modules/uikit/src/scss/uikit-theme.scss";
